.aboutUs {
    background-image: url('../images/aboutUs.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    opacity: 1;
  }
  
  body h1{
    padding: 0;
    color:black;  
  }

  .about-box {
    width: 70vw;
    height: 58vh; 
    background-color: white;
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    margin: 0 8px;
    border: solid 1px black;
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .about-box p {
    display: inline;
    padding: 100px;
    text-align: center;
  }
  .admin-edit-button{
    margin-top: 25px;
  }
  .text2{
    padding-top: 10px;
  }