
.contact {
    background-image: url('../images/contactImg.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 103vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    opacity: 0.9;
    padding-top: 60px;
  }
  
  .contact-content {
    max-width: 800px;
    margin: 0 auto;
    width: 70vw;
    height: 80vh; 
    background-color: #f0f0f0;
    justify-content: center;
    margin: 0 8px;
    border: solid 1px black;
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .contact h1 {
    color: black; 
  }
  
  .contact p {
    color: black; 
  }
  
  .contact-details {
    margin-top: 20px;
  }
  
  .contact-details h2 {
    color: black; 
  }
  
  .contact-details p {
    color: black; 
  }
  
  .contact-form {
    margin-top: 30px;
  }
  
  .contact-form h2 {
    color: black; 
  }
  
  .contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .contact-form label {
    font-weight: bold;
    margin-bottom: 5px;
    color: black; 
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .contact-form button {
    background-color: black; 
    color: white; 
    width:100px;
    height:50px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .contact-form button:hover {
    background-color: white; 
    color:black;
  }
  
  