/* AcademyCourse.css */
.academy-course {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    /* padding-bottom: 350px; */
    /* height: 100%; */
  }
  
  .academy-course h2 {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
  }
  
  .course-list {
    display: flex;
    flex-direction: column; /* Display courses in a column */
  }
  
  .course-box {
    /* text-align: center; */
    margin: 20px auto; /* Center course box horizontally */
    padding: 20px;
    width: calc(100% - 40px); /* Take full width with some spacing */
    background-color: #e7e4e4;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .course-box:hover {
    transform: scale(1.05);
  }
  
  .course-box h3 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .course-box p {
    margin: 10px 0;
  }
  
  .course-box button {
    background-color: #007bff;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    font-size: 16px;
  }
  
  .course-box button:hover {
    background-color: #0056b3;
  }
  