/* UserEnrolledCourses.css */
.enrolledCoursesHeader {
  text-align: center;
  padding-bottom: 20px;
}

.enrolledCoursesText {
  padding: 0.6rem;
  border-radius: 5rem 0 0 5rem;
  border: none;
  outline: none;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto; /* Added auto margin for horizontal centering */
  width: 20%;
  padding-left: 10px;
}

.search-button {
  background: #fff;
  border: none;
  padding: 0.6rem;
  border-radius: 0 5rem 5rem 0;
  cursor: pointer;
}

.search-icon {
  color: #777;
}
.enrolledCourses {
    max-width: 800px;
    margin: 0 auto;
    padding-left: 20px;
    padding-bottom: 10px;
  }
  
  /* .enrolledCoursesHeader {
    text-align: center;
    padding-bottom: 20px;
  } */
  
  .enrolledCourses h2 {
    text-align: center;
  }
  
  .enrolled-courses-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .enrolled-course-box {
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: calc(50% - 20px); /* 50% width with 20px margin on each side */
    background-color: #e7e4e4;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .enrolled-course-box:hover{
    transform: scale(1.1); /* You can adjust the scale factor as needed */
  }
  
  .enrolled-course-box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .enrolled-course-box p {
    margin-top: 5px;
  }
  
  .row-divider {
    width: 100%;
    height: 10px;
  }
  
  .course-actions {
    display: flex;
    /* justify-content: space-around; */
    margin-top: 10px;
    /* padding-left: 70px; */
  }
  
  .course-actions button {
    background-color: #000000;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* padding-bottom: 10px; */
    transition: background-color 0.3s ease-in-out;
    /* padding-right: 100px; */
  }
  .course-action-button{
    padding-left: 120px;
  }
  .course-actions button:hover {
    background-color: #0056b3;
  }
  
  .action-icon {
    margin-right: 10px;
    cursor: pointer;
    margin-top: 3px;
    padding-left: 90px;
    /* padding-bottom: 10px; */
  }